bin/*

*.class
*~
*.bak
*.off
*.old
.DS_Store


# Eclipse
.classpath
.project
.settings

# Gradle
.gradle
build

private/*
/bin/
/logs/*
media/*
database/twitterKeyWordSearch.*
metastore_db
.idea/*
*.iml
/out/